.container {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 20px;


    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}